.searchContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 50%;
}

.searchInputWrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: white;
  color: #bcbcbc;
  /* border-radius: 10px; */
}

.searchInput {
  width: 100%;
  height: 25px;
  padding: 0.5rem 2.5rem;
  font-size: 1rem;
  border: 1px solid #b3b3b3 !important;
  border-radius: 50px;
  outline: none;
}

.searchInput:focus {
  border-color: #f1f1f1;
}

.searchIconInside {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  color: #bcbcbc;
}

@media (min-width: 769px) {
  .mobileSearchIcon {
    display: none;
  }

  .mobileSearchContainer {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .searchContainer {
    display: none;
  }

  .mobileSearchIcon {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    position: absolute;
    right: 60px;
    top: 56%;
    transform: translateY(-50%);
  }

  .mobileSearchContainer {
    display: none;
    position: absolute;
    top: 80px;
    left: 2%;
    right: 2%;
    background-color: white;
    padding: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 10px;
  }

  @media (max-width: 600px) {
    .mobileSearchContainer {
      left: 3%;
      right: 3%;
    }
  }

  @media (max-width: 480px) {
    .mobileSearchContainer {
      left: 2%;
      right: 2%;
    }
  }

  .mobileSearchContainer.open {
    display: block;
  }

  .mobileSearchContainer .searchInput {
    width: 90%;
    padding: 0.5rem 1rem;
  }
}
