.postsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px; 
}

.post {
  display: flex;
  justify-content: space-between;
  /* margin:  0 40px; */
  align-items: center; 
  padding: 16px;
  width: 100%;
  max-width: 900px;
  border-bottom: 1px solid #d6d6d6;
  background-color: #fff;
  border-radius: 2px;
  transition: transform 0.3s ease;
  cursor: pointer;
}


.textContent {
  flex: 1;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers the text content */
}

.postTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.postSubtitle {
  font-size: 1rem;
  color: #555;
  margin-bottom: 12px;
}

.postDate {
  font-size: 0.9rem;
  color: #888;
}

.imageWrapper {
  flex-shrink: 0;
  width: 180px;
  height: 100px;
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  align-items: normal;
  justify-content: center;
}

.blogImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Scroll Bar */

@media (max-width: 768px) {
  .post {
    flex-direction: column;
    align-items: flex-start;
  }

  .textContent {
    margin-right: 0;
    margin-bottom: 16px;
  }

  .imageWrapper {
    width: 100%;
    height: 200px;
  }
}

@media (max-width: 480px) {
  .postTitle {
    font-size: 1.2rem;
  }

  .postSubtitle {
    font-size: 0.9rem;
  }

  .postDate {
    font-size: 0.8rem;
  }

  .imageWrapper {
    height: 150px;
  }
}
