.postsContainer {
  padding: 5px;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.postList {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.postCard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #fff;
  overflow: hidden;
  transition: transform 0.2s;
}

.postCard:hover {
  transform: translateY(-1px);
}

.postContent {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.postTitle {
  font-size: 22px;
  margin: 0;
  color: #222;
  cursor: pointer;
}

.postDescription {
  font-size: 14px;
  color: #666;
}

.postAuthor {
  font-size: 12px;
  color: #999;
}

.postActions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.count,
.postTimestamp {
  font-size: 12px;
  color: #999;
}

.liked,
.comment {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: inherit;
}

.postImage {
  margin-top: 10px;
  width: 320px;
  height: 180px;
  object-fit: cover;
  flex-shrink: 0;
  border-left: 1px solid #ddd;
  border-radius: 2px;
}

.noPost {
  margin: 100px;
  text-align: center;
}

/* Media Queries */
@media (max-width: 768px) {
  .postCard {
    flex-direction: row; /* Align image and content side by side */
    gap: 15px; 
    align-items: normal;
  }

  .postImage {
    width: 150px; /* Resize image for small screens */
    height: 100px;
    border-left: none;
    border-top: 1px solid #ddd;
  }

  .postContent {
    padding: 10px;
  }

  .postTitle {
    font-size: 20px;
  }

  .postDescription {
    font-size: 13px;
  }

  .postAuthor,
  .count,
  .postTimestamp {
    font-size: 11px;
  }
}

@media (max-width: 480px) {
  .postCard {
    flex-direction: row; /* Keep content and image side by side */
    align-items: normal;
    margin-top: 10px;
  }

  .postImage {
    width: 80px;
    height: 60px;
  }

  .postContent {
    padding: 8px;
  }

  .postTitle {
    font-size: 18px;
  }

  .postDescription {
    font-size: 12px;
  }

  .postAuthor,
  .count,
  .postTimestamp {
    font-size: 10px;
  }
}
